{% set inputsWithHydraulicData = (parameters + inputs)|rejectattr("hydraulicConnectionsData", "none")|list -%}
{% if inputsWithHydraulicData|length -%}
***********************************
** Inputs from hydraulic solver
***********************************
EQUATIONS {{inputsWithHydraulicData|length}}
    {% for input in inputsWithHydraulicData -%}
        {{input.hydraulicConnectionsData.variableName}} = {{input.hydraulicConnectionsData.rhs}}
    {% endfor %}
{% endif -%}
UNIT 1 TYPE {{type}}
PARAMETERS {{parameters|length}}
{% for parameter in parameters -%}
    {% if parameter.hydraulicConnectionsData -%}
        {{parameter.hydraulicConnectionsData.variableName}} ! {{parameter.roleOrder}}: {{parameter.tmfName}} [{{parameter.unit}}] ({{parameter.bounds}})
    {% else -%}
        {{parameter.defaultValue}} ! {{parameter.roleOrder}}: {{parameter.tmfName}} [{{parameter.unit}}] ({{parameter.bounds}})
    {% endif -%}
{% endfor -%}
INPUTS {{inputs|length}}
{% for input in inputs -%}
    {% if input.hydraulicConnectionsData -%}
        {{input.hydraulicConnectionsData.variableName}} ! {{input.roleOrder}}: {{input.tmfName}} [{{input.unit}}] ({{input.bounds}})
    {% else -%}
        0,0 ! {{input.roleOrder}}: {{input.tmfName}} [{{input.unit}}] ({{input.bounds}})
    {% endif -%}
{% endfor -%}
** initial values
{% for input in inputs -%}
    {{input.defaultValue}} ! {{input.roleOrder}}: {{input.tmfName}} - initial value
{% endfor %}
{% set outputsWithHydraulicData = outputs|rejectattr("hydraulicConnectionsData", "none")|list -%}
{% if outputsWithHydraulicData|length -%}
    EQUATIONS {{outputsWithHydraulicData|length}} ! {{outputs|length}}
{% else -%}
    ! EQUATIONS {{outputs|length}}
{% endif -%}
{% for output in outputs -%}
    {% if output.hydraulicConnectionsData -%}
        {{output.hydraulicConnectionsData.variableName}} = [1, {{output.roleOrder}}] ! {{output.tmfName}} [{{output.unit}}] ({{output.bounds}})
    {% else -%}
        ! XXX = [1, {{output.roleOrder}}] ! {{output.tmfName}} [{{output.unit}}] ({{output.bounds}})
    {% endif -%}
{% endfor -%}
{% if outputsWithHydraulicData|length %}
***********************************
** Outputs to hydraulic solver
***********************************
    {% for outputWithHydraulicData in outputsWithHydraulicData -%}
        {{outputWithHydraulicData.hydraulicConnectionsData.rhs}} = {{outputWithHydraulicData.hydraulicConnectionsData.variableName}}
    {% endfor -%}
{% endif -%}

