trnsysGUI/_pycache_/
trnsysGUI/export.dck
trnsysGUI/diagrams/
trnsysGUI/exports/
*.xml
*.pyc
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/
*.log
*.lst
/.idea/misc.xml
/.idea/TrnsysGUI.iml
/.idea/TrnsysGUI.iml
