trnsysGUI/_pycache_/
trnsysGUI/export.dck
trnsysGUI/diagrams/*.json
trnsysGUI/exports/*.dck
trnsysGUI/massflowData/flows.txt
trnsysGUI/VectorGraphicsExport.svg
trnsysGUI/clipboard.json
trnsysGUI/recent/
trnsysGUI/filepaths.txt

# Test results and code coverage files
/test-results/
/.coverage


# setuptools' setup.py and twine/PyPI related stuff
/.eggs/
/build/
/dist/
/pytrnsys_gui.egg-info/

*.xml
*.pyc
*.log
*.lst

/.idea/
/venv/

docs/_build/
docs/trnsysGUI.uml

/.tgitconfig
