############# GENERIC##############################

bool ignoreOnlinePlotter  False
int reduceCpu  1
bool parseFileCreated True
bool runCases True
bool checkDeck True
string outputLevel "DEBUG"

############# AUTOMATIC WORK BOOL##############################

bool doAutoUnitNumbering True
bool generateUnitTypesUsed True
bool addAutomaticEnergyBalance True

#############PATHS################################

string PROJECT$ "C:\Daten\GIT\pytrnsys_gui\trnsysGUI\examples\solar_dhw_GUI\ddck"
string trnsysExePath "C:\Trnsys17\Exe\TRNExe.exe"

################SCALING#########################

string scaling "False" #"toDemand"
string projectPath "C:\Daten\GIT\pytrnsys_gui\trnsysGUI\examples\solar_dhw_GUI"
string nameRef "solar_dhw_GUI"
string runType "runFromConfig"

#############PARAMETRIC VARIATIONS##################

#bool combineAllCases True
#variation Ac AcollAp 2
#variation VTes volPerM2Col 75

#############FIXED CHANGED IN DDCK##################

deck START 0    # 0 is midnight new year
deck STOP  8760 #
deck sizeAux 3 # [kW]

#############USED DDCKs##################

PROJECT$ generic\head
PROJECT$ Collector\type1
PROJECT$ Collector\type1_constants_CobraAK2_8V
PROJECT$ control\solar_dhw_control
PROJECT$ control\solar_dhw_control_plotter
PROJECT$ control\valve_control
PROJECT$ Dhw\Dhw
PROJECT$ hydraulic\hydraulic
PROJECT$ weather\SMA_hourly
PROJECT$ weather\weather_data_base
PROJECT$ WTap\dhw_sfh_task44
PROJECT$ generic\end

