***********************************
** Inputs from hydraulic solver
***********************************
{% set inputsWithHydraulicData = (parameters + inputs)|rejectattr("hydraulicConnectionsData", "none")|list -%}
EQUATIONS {{inputsWithHydraulicData|length}}
{% for input in inputsWithHydraulicData -%}
    {{input.hydraulicConnectionsData.variableName}} = {{input.hydraulicConnectionsData.rhs}}
{% endfor %}
UNIT 1 TYPE {{type}}
PARAMETERS {{parameters|length}}
{% for parameter in parameters -%}
    {% if parameter.hydraulicConnectionsData -%}
        {{parameter.hydraulicConnectionsData.variableName}} ! {{parameter.roleOrder}}: {{parameter.tmfName}} [{{parameter.unit}}] ({{parameter.bounds}})
    {% else -%}
        {{parameter.defaultValue}} ! {{parameter.roleOrder}}: {{parameter.tmfName}} [{{parameter.unit}}] ({{parameter.bounds}})
    {% endif -%}
{% endfor -%}
INPUTS {{inputs|length}}
{% for input in inputs -%}
    {% if input.hydraulicConnectionsData -%}
        {{input.hydraulicConnectionsData.variableName}} ! {{input.roleOrder}}: {{input.tmfName}} [{{input.unit}}] ({{input.bounds}})
    {% else -%}
        0,0 ! {{input.roleOrder}}: {{input.tmfName}} [{{input.unit}}] ({{input.bounds}})
    {% endif -%}
{% endfor -%}
** initial values
{% for input in inputs -%}
    {{input.defaultValue}} ! {{input.roleOrder}}: {{input.tmfName}} - initial value
{% endfor %}
{% set outputsWithHydraulicData = outputs|rejectattr("hydraulicConnectionsData", "none")|list -%}
EQUATIONS {{outputsWithHydraulicData|length}} ! {{outputs|length}}
{% for output in outputs -%}
    {% if output.hydraulicConnectionsData -%}
        {{output.hydraulicConnectionsData.variableName}} = [1, {{output.roleOrder}}] ! {{output.tmfName}} [{{output.unit}}] ({{output.bounds}})
    {% else -%}
        ! XXX = [1, {{output.roleOrder}}] ! {{output.tmfName}} [{{output.unit}}] ({{output.bounds}})
    {% endif -%}
{% endfor %}
***********************************
** Outputs to hydraulic solver
***********************************
{% for output in outputs -%}
    {% if output.hydraulicConnectionsData -%}
        {{output.hydraulicConnectionsData.rhs}} = {{output.hydraulicConnectionsData.variableName}}
    {% endif -%}
{% endfor -%}
