# TRNSYS execution parameters
bool ignoreOnlinePlotter True #ignroes the online plotter type
bool removePopUpWindow False  #hides the windows that opens when a simulation starts and then the one that shows the running time of TRNSYS
int reduceCpu  2

# Paths and names
string trnsysExePath "C:\Trnsys17\Exe\TRNExe.exe" 
string projectPath "C:\Daten\OngoingProject\TRIHP_dualSource"

string HOME$ "C:\Daten\GIT\TrnsysTools\ddck"
string TRIHP$ "C:\Daten\GIT\TriHpTrnsysDDeck"


#VARIATIONS FOR PARALLEL RUNNING. By default all combinations are simulated. Other methods are implemented at python level but not at config file yet.
bool combineAllCases True
variation LGHX lGhxProbes 400 500
changeDDckFile CitySMA_dryN CityKLO_dryN  CityDAV_dryN

# Static variables changes in dck
deck START 0   #4344
deck STOP2 8760 #13104
deck Vol_Tes2 4
deck Vol_Tes1 4
deck PrecondON 1
deck nYearsPre 5
deck sizeHpUsed 26

##################PATHS##################

string PROJECT$ "C:\Daten\OngoingProject\TRIHP_dualSource\ddck"

#############USED DDCKs##################

PROJECT$ generic\head
PROJECT$ control\control_custom_dual_source
PROJECT$ control\type888
PROJECT$ control\valve_control
PROJECT$ Dhw\Dhw
PROJECT$ Ghx\type951
PROJECT$ HP\ProDomo13-R410A
PROJECT$ HP\type977
PROJECT$ HxDHW\const_eff_hx_dhw_contr
PROJECT$ hydraulic\hydraulic
PROJECT$ RadiatorSH\type1792
PROJECT$ SH\SH
PROJECT$ tapWater\basic_battery
PROJECT$ tapWater\dhw_mfh
PROJECT$ tapWater\elDemand
PROJECT$ tapWater\internal_gains
PROJECT$ tapWater\mfb30
PROJECT$ tapWater\type5998
PROJECT$ weather\CitySMA_dryN
PROJECT$ weather\fronius_symo_inverter
PROJECT$ weather\type194
PROJECT$ weather\weather_data_base
PROJECT$ generic\end

