############# GENERIC##############################

bool ignoreOnlinePlotter  True
int reduceCpu  4
bool parseFileCreated True
bool runCases True
bool checkDeck True
string outputLevel "INFO"

############# AUTOMATIC WORK BOOL##############################

bool doAutoUnitNumbering True
bool generateUnitTypesUsed True
bool addAutomaticEnergyBalance True

#############PATHS################################

string PROJECT$ "C:\Daten\OngoingProject\TRIHP_dualSource\ddck"
string trnsysExePath "C:\Trnsys17\Exe\TRNExe.exe"

################SCALING#########################

string scaling "False" #"toDemand"
string projectPath "C:\Daten\OngoingProject\TRIHP_dualSource"
string nameRef "TRIHP_dualSource"
string runType "runFromConfig"

#############PARAMETRIC VARIATIONS##################

bool combineAllCases True
variation Ac AcollAp 2 3 4 6 8 10
variation VTes volPerM2Col 75 100

#############FIXED CHANGED IN DDCK##################

deck START 0    # 0 is midnight new year
deck STOP  8760 #
deck sizeAux 3 # [kW]

#############USED DDCKs##################
PROJECT$ generic\head
PROJECT$ control\control_custom_dual_source
PROJECT$ control\type888
PROJECT$ control\valve_control
PROJECT$ Dhw\Dhw
PROJECT$ Ghx\type951
PROJECT$ HP\ProDomo13-R410A
PROJECT$ HP\type977
PROJECT$ HxDHW\const_eff_hx_dhw_contr
PROJECT$ hydraulic\hydraulic
PROJECT$ RadiatorSH\type1792
PROJECT$ SH\SH
PROJECT$ tapWater\basic_battery
PROJECT$ tapWater\dhw_mfh
PROJECT$ tapWater\elDemand
PROJECT$ tapWater\internal_gains
PROJECT$ tapWater\mfb30
PROJECT$ tapWater\type5998
PROJECT$ weather\CitySMA_dryN
PROJECT$ weather\fronius_symo_inverter
PROJECT$ weather\type194
PROJECT$ weather\weather_data_base
PROJECT$ generic\end


