# Run created by martin.neugebauer
# Ddck repositories used:
# C:\Daten\GIT\pytrnsys_gui\trnsysGUI\examples\TRIHP_dualSource\ddck
# Revision Hash number: not found 

# Config file used: 

bool ignoreOnlinePlotter False
bool removePopUpWindow False
int reduceCpu  2
string PROJECT$ "C:\Daten\GIT\pytrnsys_gui\trnsysGUI\examples\TRIHP_dualSource\ddck"
string trnsysExePath "C:\Trnsys17\Exe\TRNExe.exe"
string addResultsFolder "DualSourceDesuperheater"
string projectPath "C:\Daten\GIT\pytrnsys_gui\trnsysGUI\examples\TRIHP_dualSource"
string nameRef "TRIHP_dualSource"
string pathBaseSimulations "C:\Daten\GIT\pytrnsys_gui\trnsysGUI\examples\TRIHP_dualSource"
string scaling "off"
string runType "runFromConfig"
deck Vol_Tes2 4
deck Vol_Tes1 4
deck PrecondON 1
deck nYearsPre 5
deck sizeHpUsed 26
PROJECT$ generic\head
PROJECT$ control\Control-TriHpDesuperheater
PROJECT$ control\type888
PROJECT$ Dhw\Dhw
PROJECT$ generic\PrinterMonthlyElectric
PROJECT$ generic\PrinterQvsT-GSHP-Desuperheater
PROJECT$ Ghx\ghx_2x2_5m
PROJECT$ Ghx\type951
PROJECT$ HP\ProDomo13-R410A
PROJECT$ HP\type977
PROJECT$ HxCool\const_eff_hx
PROJECT$ HxDHW\const_eff_hx_dhw_contr
PROJECT$ hydraulic\hydraulic
PROJECT$ RadiatorSH\type1792
PROJECT$ SH\SH
PROJECT$ tapWater\dhw_mfh
PROJECT$ tapWater\elDemand
PROJECT$ tapWater\mfb30
PROJECT$ weather\CitySMA_dryN
PROJECT$ weather\internal_gains
PROJECT$ weather\type5998
PROJECT$ weather\weather_data_base
PROJECT$ generic\end
