############# GENERIC##############################

bool ignoreOnlinePlotter  True
int reduceCpu  4
bool parseFileCreated True
bool runCases True
bool checkDeck True
string outputLevel "INFO"

############# AUTOMATIC WORK BOOL##############################

bool doAutoUnitNumbering True
bool generateUnitTypesUsed True
bool addAutomaticEnergyBalance True

#############PATHS################################

string PROJECT$ "C:\Daten\GIT\pytrnsys_gui\trnsysGUI\examples\TRIHP_dualSource\ddck"
string trnsysExePath "C:\Trnsys17\Exe\TRNExe.exe"

################SCALING#########################

string scaling "False" #"toDemand"
string projectPath "C:\Daten\GIT\pytrnsys_gui\trnsysGUI\examples\TRIHP_dualSource"
string nameRef "TRIHP_dualSource"
string runType "runFromConfig"

#############PARAMETRIC VARIATIONS##################

#bool combineAllCases True
#variation Ac AcollAp 2 3 #4 6 8 10
#variation VTes volPerM2Col 75 #100

#############FIXED CHANGED IN DDCK##################

deck START 0    # 0 is midnight new year
deck STOP  1    #8760 #
deck sizeAux 3 # [kW]

#############USED DDCKs##################

PROJECT$ generic\head
PROJECT$ control\Control-TriHpDesuperheater
PROJECT$ control\type888
PROJECT$ Dhw\Dhw
PROJECT$ generic\PrinterMonthlyElectric
PROJECT$ generic\PrinterQvsT-GSHP-Desuperheater
PROJECT$ Ghx\ghx_2x2_5m
PROJECT$ Ghx\type951
PROJECT$ HP\ProDomo13-R410A
PROJECT$ HP\type977
PROJECT$ HxCool\const_eff_hx
PROJECT$ HxCool\const_eff_hx_dhw_contr
PROJECT$ HxDHW\const_eff_hx_dhw_contr
PROJECT$ hydraulic\hydraulic
PROJECT$ RadiatorSH\type1792
PROJECT$ SH\SH
PROJECT$ tapWater\dhw_mfh
PROJECT$ tapWater\elDemand
PROJECT$ weather\CitySMA_dryN
PROJECT$ weather\internal_gains
PROJECT$ weather\mfb30
PROJECT$ weather\type5998
PROJECT$ weather\weather_data_base
PROJECT$ generic\end

